<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <title>Teste</title>
    </head>
    <body>
        <h1>Exemplo de Uso de Javascript</h1>
        <p>Esta página mostra um exemplo de Javascript junto com HTML e CSS</p>
    </body>
    <h2>Calculadora</h2>
    <form>
        Primeiro Número:
        <input type='text' id='idPrimeiroNumero'/><br><br>
        Segundo Número:
        <input type='text' id='idSegundoNumero'/><br><br>
        <input type="button" value="Calcular" name="opera" id="idOpera"/><br><br>
        Resultado:
        <input type='text' id="idTextResultado"/>
    </form>
</html>